<?xml version="1.0"?>
<!--
  ~ Copyright © Magmodules.eu. All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config>
    <modules>
        <EMS_Payment>
            <version>1.0.1</version>
        </EMS_Payment>
    </modules>
    <global>
        <models>
            <ems_payment>
                <class>EMS_Payment_Model</class>
            </ems_payment>
        </models>
        <blocks>
            <ems_payment>
                <class>EMS_Payment_Block</class>
            </ems_payment>
            <payment>
                <class>EMS_Payment_Block</class>
                <class>Mage_Payment_Block</class>
            </payment>
        </blocks>
        <helpers>
            <ems_payment>
                <class>EMS_Payment_Helper</class>
            </ems_payment>
        </helpers>
        <payment>
            <groups>
                <ems_payment>ems_payment</ems_payment>
            </groups>
        </payment>
        <resources>
            <ems_payment_setup>
                <setup>
                    <module>EMS_Payment</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ems_payment_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <ems_payment_order_id>
                    <to_order>*</to_order>
                </ems_payment_order_id>
                <ems_payment_banktransfer_reference>
                    <to_order>*</to_order>
                </ems_payment_banktransfer_reference>
                <ems_payment_ideal_issuer_id>
                    <to_order>*</to_order>
                </ems_payment_ideal_issuer_id>
            </sales_convert_quote>
            <sales_convert_order>
                <ems_payment_order_id>
                    <to_quote>*</to_quote>
                </ems_payment_order_id>
                <ems_payment_banktransfer_reference>
                    <to_quote>*</to_quote>
                </ems_payment_banktransfer_reference>
                <ems_payment_ideal_issuer_id>
                    <to_quote>*</to_quote>
                </ems_payment_ideal_issuer_id>
            </sales_convert_order>
        </fieldsets>
        <events>
            <controller_front_init_before>
                <observers>
                    <ems_lib_load>
                        <type>object</type>
                        <class>EMS_Payment_Helper_Autoloader</class>
                        <method>createAndRegister</method>
                    </ems_lib_load>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <frontend>
        <routers>
            <ems_payment>
                <use>standard</use>
                <args>
                    <module>EMS_Payment</module>
                    <frontName>ems_payment</frontName>
                </args>
            </ems_payment>
        </routers>
        <layout>
            <updates>
                <ems_payment>
                    <file>ems_payment.xml</file>
                </ems_payment>
            </updates>
        </layout>
        <translate>
            <modules>
                <EMS_Payment>
                    <files>
                        <default>EMS_Payment.csv</default>
                    </files>
                </EMS_Payment>
            </modules>
        </translate>
        <events>
            <sales_convert_quote_payment_to_order_payment>
                <observers>
                    <ems_payment_convert_observer>
                        <type>singleton</type>
                        <class>ems_payment/observer</class>
                        <method>convertPayment</method>
                    </ems_payment_convert_observer>
                </observers>
            </sales_convert_quote_payment_to_order_payment>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <sales_order_shipment_save_after>
                <observers>
                    <ems_payment_shipment_observer>
                        <type>singleton</type>
                        <class>ems_payment/observer</class>
                        <method>captureOrder</method>
                    </ems_payment_shipment_observer>
                </observers>
            </sales_order_shipment_save_after>
        </events>
        <layout>
            <updates>
                <ems_payment>
                    <file>ems_payment.xml</file>
                </ems_payment>
            </updates>
        </layout>
        <translate>
            <modules>
                <EMS_Payment>
                    <files>
                        <default>EMS_Payment.csv</default>
                    </files>
                </EMS_Payment>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <ems_payment>
                <enabled>1</enabled>
                <status_pending>pending</status_pending>
                <status_processing>processing</status_processing>
                <product>ems</product>
                <log_enabled>0</log_enabled>
                <log_file>ems-payment.log</log_file>
                <register_autoloader>1</register_autoloader>
            </ems_payment>
            <ems_payment_ideal>
                <group>ems_payment</group>
                <active>0</active>
                <title>iDEAL</title>
                <description>iDEAL</description>
                <model>ems_payment/ideal</model>
                <title>iDEAL</title>
                <currency>EUR</currency>
                <allowspecific>0</allowspecific>
                <sort_order>101</sort_order>
                <send_order_mail>1</send_order_mail>
            </ems_payment_ideal>
            <ems_payment_creditcard>
                <group>ems_payment</group>
                <active>0</active>
                <title>Credit Card</title>
                <description>Credit Card</description>
                <model>ems_payment/creditcard</model>
                <title>Credit Card</title>
                <currency>EUR</currency>
                <allowspecific>0</allowspecific>
                <sort_order>102</sort_order>
                <send_order_mail>1</send_order_mail>
            </ems_payment_creditcard>
            <ems_payment_applepay>
                <group>ems_payment</group>
                <active>0</active>
                <title>Apple Pay</title>
                <description>Apple Pay</description>
                <model>ems_payment/applepay</model>
                <title>Apple Pay</title>
                <currency>EUR</currency>
                <allowspecific>0</allowspecific>
                <sort_order>103</sort_order>
                <send_order_mail>1</send_order_mail>
            </ems_payment_applepay>
            <ems_payment_bancontact>
                <group>ems_payment</group>
                <active>0</active>
                <title>Bancontact</title>
                <description>Bancontact</description>
                <model>ems_payment/bancontact</model>
                <title>Bancontact</title>
                <currency>EUR</currency>
                <allowspecific>0</allowspecific>
                <sort_order>104</sort_order>
                <send_order_mail>1</send_order_mail>
            </ems_payment_bancontact>
            <ems_payment_klaranpaynow>
                <active>0</active>
                <group>ems_payment</group>
                <title>Klarna Pay Now</title>
                <description>Klarna Pay Now</description>
                <model>ems_payment/klarnapaynow</model>
                <title>Klarna Oay Now</title>
                <currency>EUR</currency>
                <allowspecific>0</allowspecific>
                <sort_order>105</sort_order>
                <send_order_mail>1</send_order_mail>
            </ems_payment_klaranpaynow>
            <ems_payment_payconiq>
                <active>0</active>
                <group>ems_payment</group>
                <title>Payconiq</title>
                <description>Payconiq</description>
                <model>ems_payment/payconiq</model>
                <currency>EUR</currency>
                <allowspecific>0</allowspecific>
                <sort_order>106</sort_order>
                <send_order_mail>1</send_order_mail>
            </ems_payment_payconiq>
            <ems_payment_paypal>
                <group>ems_payment</group>
                <active>0</active>
                <title>PayPal</title>
                <description>PayPal</description>
                <model>ems_payment/paypal</model>
                <title>PayPal</title>
                <currency>EUR</currency>
                <allowspecific>0</allowspecific>
                <sort_order>107</sort_order>
                <send_order_mail>1</send_order_mail>
            </ems_payment_paypal>
            <ems_payment_amex>
                <group>ems_payment</group>
                <active>0</active>
                <title>American Express</title>
                <description>American Express</description>
                <model>ems_payment/amex</model>
                <title>American Express</title>
                <currency>EUR</currency>
                <allowspecific>0</allowspecific>
                <sort_order>108</sort_order>
                <send_order_mail>1</send_order_mail>
            </ems_payment_amex>
            <ems_payment_klarnapaylater>
                <group>ems_payment</group>
                <active>0</active>
                <title>Klarna Pay Later</title>
                <description>Klarna Pay Later</description>
                <model>ems_payment/klarnapaylater</model>
                <title>Klarna Pay Later</title>
                <currency>EUR</currency>
                <allowspecific>0</allowspecific>
                <sort_order>109</sort_order>
                <send_order_mail>1</send_order_mail>
            </ems_payment_klarnapaylater>
            <ems_payment_afterpay>
                <group>ems_payment</group>
                <active>0</active>
                <title>AfterPay</title>
                <description>AfterPay</description>
                <model>ems_payment/afterpay</model>
                <title>AfterPay</title>
                <currency>EUR</currency>
                <allowspecific>0</allowspecific>
                <sort_order>110</sort_order>
                <send_order_mail>1</send_order_mail>
            </ems_payment_afterpay>
            <ems_payment_banktransfer>
                <group>ems_payment</group>
                <active>0</active>
                <title>Overboeking</title>
                <description>Overboeking</description>
                <model>ems_payment/banktransfer</model>
                <title>Overboeking</title>
                <currency>EUR</currency>
                <allowspecific>0</allowspecific>
                <account_details>
                    <iban>NL79ABNA0842577610</iban>
                    <bic>ABNANL2A</bic>
                    <holder>THIRD PARTY FUNDS EMS</holder>
                    <city>Amsterdam, NL</city>
                </account_details>
                <sort_order>111</sort_order>
                <send_order_mail>1</send_order_mail>
            </ems_payment_banktransfer>
            <!--<ems_payment_tikkie>
                <group>ems_payment</group>
                <active>0</active>
                <title>Tikkie</title>
                <description>Tikkie</description>
                <model>ems_payment/tikkie</model>
                <title>Tikkie</title>
                <currency>EUR</currency>
                <allowspecific>0</allowspecific>
                <sort_order>112</sort_order>
                <send_order_mail>1</send_order_mail>
            </ems_payment_tikkie>
            <ems_payment_wechat>
                <group>ems_payment</group>
                <active>0</active>
                <title>WeChat</title>
                <description>WeChat</description>
                <model>ems_payment/wechat</model>
                <title>WeChat</title>
                <currency>EUR</currency>
                <allowspecific>0</allowspecific>
                <sort_order>113</sort_order>
                <send_order_mail>1</send_order_mail>
            </ems_payment_wechat>-->
        </payment>
    </default>
</config>
